<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>INDEX</title>



</head>
<body>
<div class="container">
    <div class="col-sm-4 offset-sm-4">
        <br>
        <br>
        <br>
        <br>
        <br>
        <form class="form-inline" action="/userData" method="post">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" class="form-control" value="John Doe" name="name">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

        {{/*<form action="/userData" method="post">*/}}
            {{/*<div class="form-group">*/}}
                {{/*<label for="text">Login:</label>*/}}
                {{/*<input type="text" class="form-control" value="John Doe" name="name">*/}}
            {{/*</div>*/}}
            {{/*<button type="submit" class="btn btn-success">Submit</button>*/}}
        {{/*</form>*/}}


    </div>
</div>






</body>
</html>
