<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>User data</title>
</head>
<body>


<div class="container">
 <div class="col-sm-12"></div>














    <form action="/userData" method="post">
    <h1>Name: {{.Name}}</h1><br>

{{/*main table info user    */}}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Visa ID:</th>
            <th scope="col">Nationality:</th>
            <th scope="col">Age:</th>
            <th scope="col">Speaks:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td ><input type="text" value="{{.Visa}}" name="visa"></td>
            <td ><input type="text" value="{{.Nationality}}" name="nationality"></td>
            <td ><input type="text" value="{{.Age}}" name="age"></td>
            <td ><input type="text" value="{{.Speaks}}" name="speaks"></td>
        </tr>
        </tbody>
    </table>
{{/*secondary table info user*/}}
    <div class="row">
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item active">	Vital Medical Conditions </li>
                <li class="list-group-item"><input type="text" name="medCondition" value="{{range .MedCondition}}{{.}} {{end}}"></li>

            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item active">	Medications </li>
                <li class="list-group-item"><input type="text" name="medMedication" value="{{range .MedMedications}}{{.}} {{end}}"></li>

            </ul>
        </div>


    </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-4 offset-sm-4"><button type="submit" class="btn btn-success btn-block btn-lg">Submit</button></div>

        </div>
        {{/*<button type="submit" class="btn btn-default">Submit</button>*/}}
    </form>
    <br>
    <br>
    <br>
    <br>


</div>
</div>
{{/*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*/}}
{{/*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>*/}}
{{/*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*/}}
</body>
</html>
